# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.toml
.idea/*
.idea
.vscode/*
.vscode
*.pid
*.out
tmp/*
upload/*
**/.DS_Store
.DS_Store